
.music-keyboard {
  float: left;
  font-size: small;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 50px;
}
.music-keyboard > li {
  background-color: #eee;
  border-top: 1px solid #aaa;
  color: #111;
  height: 19px;
}
.music-keyboard > .black {
  background-color: #111;
  color: #eee;
}

.music-editor {
  background-color: #ddd;
  margin-left: 50px;
  position: relative;
  user-select: none;
}

.music-note {
  background-color: #0ee;
  border-radius: 4px;
  border: 1px solid #777;
  height: 18px;
  position: absolute;
}

.music-note-stretch {
  cursor: e-resize;
  position: absolute;
  right: -1px;
  width: 3px;
  height: 100%;
}
